<div class="container-fluid row bg-white p-5 mx-5 my-3 rounded-3 g-4">
  <div class="info-container col-4">
    <h2>Nos agences</h2>
    <p>Information utiles pour joindre nos centres d'expertise</p>

    <div class="schedule">
      <h4>Horaires</h4>

      <div class="time-block">
        <strong>Horaires d’hiver</strong>
        <p>Du Lundi au vendredi <span class="bold">8h à 12h</span> et de <span class="bold">13h à 17h30</span></p>
      </div>

      <div class="time-block">
        <strong>Horaires d’été</strong>
        <p>Du Lundi au vendredi <span class="bold">7h30 à 13h30</span></p>
      </div>

      <div class="time-block">
        <strong>Horaires Ramadan</strong>
        <p>Du Lundi au vendredi <span class="bold">8h à 14h</span></p>
      </div>
    </div>
  </div>
  <div class="col">
    <iframe
      src="https://www.google.com/maps/d/u/0/embed?mid=1yUfFWer6KjtM8YJHMXa-sz1ZDnnJ218&ehbc=2E312F&noprof=1"
      width="640"
      height="480"
    ></iframe>
  </div>
</div>
