<div class="container-fluid row bg-white p-5 mx-3 my-3 rounded-4 g-4 gap-3">
  <div class="info-container col-4 pe-5">
    <h2>Nos agences</h2>
    <p>Informations utiles pour joindre nos centres d'expertise</p>

    <div class="schedule">
      <h4 class="fw-semibold">Horaires</h4>

      <div class="time-block">
        <p class="fw-normal">Horaires d’hiver</p>
        <p>Du Lundi au vendredi <span class="fw-semibold">8h à 12h</span> et de <span class="fw-semibold">13h à 17h30</span></p>
      </div>

      <div class="time-block">
        <p class="fw-normal">Horaires d’été</p>
        <p>Du Lundi au vendredi <span class="fw-semibold">7h30 à 13h30</span></p>
      </div>

      <div class="time-block">
        <p class="fw-normal">Horaires Ramadan</p>
        <p>Du Lundi au vendredi <span class="fw-semibold">8h à 14h</span></p>
      </div>
    </div>
  </div>

  <div class="col-4">
    <iframe
      src="https://www.google.com/maps/d/u/0/embed?mid=1yUfFWer6KjtM8YJHMXa-sz1ZDnnJ218&ehbc=2E312F&noprof=1"
      width="600"
      height="430"
    ></iframe>
  </div>
</div>
