<div class="p-5 bg-white rounded-4">
  <h2 id="page-heading">Contrats</h2>

  @if (contracts.length === 0) {
    <div class="alert alert-warning" id="no-result">Aucun contrat trouvé.</div>
  } @else {
    <div class="table-responsive" id="entities">
      <table class="table" aria-describedby="page-heading">
        <thead>
          <tr>
            <th>Contrat #</th>
            <th>Durée</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Prime nette</th>
            <th>Prime initiale</th>
            <th>Coût</th>
            <th>Taxes</th>
            <th>F_SSR</th>
            <th>F_PAC</th>
            <th>T_FGA</th>
            <th>Type de contrat</th>
            <th>Plan de paiement</th>
          </tr>
        </thead>
        <tbody>
          @for (contract of contracts; track contract.id) {
            <tr>
              <td>{{ contract.contractNumber }}</td>
              <td>{{ contract.duration }}</td>
              <td>{{ contract.startDate }}</td>
              <td>{{ contract.endDate }}</td>
              <td>{{ contract.netPremium }}</td>
              <td>{{ contract.upfrontPremium }}</td>
              <td>{{ contract.cost }}</td>
              <td>{{ contract.taxes }}</td>
              <td>{{ contract.fSSR }}</td>
              <td>{{ contract.fPAC }}</td>
              <td>{{ contract.tFGA }}</td>
              <td>{{ contract.contractType }}</td>
              <td>{{ contract.paymentPlan }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @if (contracts.length > 0) {
    <div class="d-flex justify-content-center mt-3">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
    </div>

    <div class="d-flex justify-content-center mt-2">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  }
</div>
