@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'primeicons/primeicons.css';

$primary: #0278f6;
$grey: #d3d3d3;

.container-fluid {
  background-color: white;
  box-shadow: 0 4px 8px $grey;
  width: 60vw;
}

p-stepper {
}
p-button {
  button {
    width: 30vw;
    height: 5vh;
    color: blue;
  }
}
