<h1 class="display-5">Contrat de souscription</h1>
<p-stepper [(value)]="activeStep" class="d-flex flex-column justify-content-center align-items-center">
  <p-step-list class="w-50 mb-5">
    <p-step [value]="1" class="d-flex flex-row flex-grow-1">
      <ng-template #content let-activateCallback="activateCallback" let-value="value">
        <button class="bg-transparent border-0 d-flex flex-column align-items-center" (click)="activateCallback()">
          <span
            class="rounded-circle border border-2 d-flex align-items-center justify-content-center"
            style="width: 3rem; height: 3rem"
            [ngClass]="{
              'bg-primary text-white border-primary': value < activeStep,
              'border-primary text-primary': value === activeStep,
              'border-secondary text-dark': value > activeStep,
            }"
          >
            <fa-icon class="fs-5" icon="user"></fa-icon>
          </span>
        </button>
      </ng-template>
    </p-step>

    <p-step [value]="2" class="d-flex flex-row flex-grow-1">
      <ng-template #content let-activateCallback="activateCallback" let-value="value">
        <button class="bg-transparent border-0 d-flex flex-column align-items-center" (click)="activateCallback()">
          <span
            class="rounded-circle border border-2 d-flex align-items-center justify-content-center"
            style="width: 3rem; height: 3rem"
            [ngClass]="{
              'bg-primary text-white border-primary': value < activeStep,
              'border-primary text-primary': value === activeStep,
              'border-secondary text-dark': value > activeStep,
            }"
          >
            <fa-icon icon="car" class="fs-5"></fa-icon>
          </span>
        </button>
      </ng-template>
    </p-step>

    <p-step [value]="3" class="d-flex flex-row">
      <ng-template #content let-activateCallback="activateCallback" let-value="value">
        <button class="bg-transparent border-0 d-flex flex-c align-items-center" (click)="activateCallback()">
          <span
            class="rounded-circle border border-2 d-flex align-items-center justify-content-center"
            style="width: 3rem; height: 3rem"
            [ngClass]="{
              'bg-primary text-white border-primary': value < activeStep,
              'border-primary text-primary': value === activeStep,
              'border-secondary text-dark': value > activeStep,
            }"
          >
            <fa-icon icon="file-contract" class="fs-5"></fa-icon>
          </span>
        </button>
      </ng-template>
    </p-step>

    <p-step [value]="4" class="d-flex flex-row">
      <ng-template #content let-activateCallback="activateCallback" let-value="value">
        <button class="bg-transparent border-0 d-flex flex-column align-items-center" (click)="activateCallback()">
          <span
            class="rounded-circle border border-2 d-flex align-items-center justify-content-center"
            style="width: 3rem; height: 3rem"
            [ngClass]="{
              'bg-primary text-white border-primary': value < activeStep,
              'border-primary text-primary': value === activeStep,
              'border-secondary text-dark': value > activeStep,
            }"
          >
            <fa-icon class="fs-5" icon="check"></fa-icon>
          </span>
        </button>
      </ng-template>
    </p-step>
  </p-step-list>

  <div class="container-fluid shadow-sm h-100 mb-0">
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div class="">
              <form [formGroup]="form" class="form px-3 py-1">
                <formly-form [model]="clientModel" [fields]="fields" [form]="form"></formly-form>
              </form>
            </div>
          </div>
          <div class="d-flex justify-content-end mx-4 my-2">
            <button class="btn btn-primary rounded-pill shadow-5" (click)="activateCallback(2)">Next</button>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div class="border border-2">
              <form [formGroup]="form" class="form">
                <formly-form [model]="vehicleModel" [fields]="fieldsStep2" [form]="form"></formly-form>
              </form>
            </div>
          </div>
          <div class="d-flex justify-content-between mx-4 my-2">
            <button class="btn btn-outline-primary rounded-pill shadow-5" (click)="activateCallback(1)">Back</button>
            <button class="btn btn-primary rounded-pill shadow-5" (click)="activateCallback(3)">Next</button>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div class="">
              <div class="container py-5">
                <h2 class="text-center mb-4">Choose Your WarrantyPack</h2>
                <form [formGroup]="form" class="form">
                  <formly-form [fields]="pack" [model]="pack"> </formly-form>
                </form>
              </div>
            </div>
            <div class="d-flex justify-content-between mx-4 my-2">
              <button class="btn btn-outline-primary rounded-pill shadow-5" (click)="activateCallback(2)">Back</button>
              <button class="btn btn-primary rounded-pill shadow-5" (click)="activateCallback(4)">Next</button>
            </div>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="4">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="d-flex flex-column">
            <div class="">Content II</div>
          </div>
          <div class="d-flex justify-content-start mx-4 my-2">
            <button class="btn btn-outline-primary rounded-pill shadow-sm" (click)="activateCallback(3)">Back</button>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
    <div class="progress mb-0 p-0 mx-auto">
      <div
        class="progress-bar bg-primary"
        role="progressbar"
        style="width: 25%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</p-stepper>
