<div class="rounded-4 bg-white p-5">
  <h2>
    <span id="metrics-page-heading" data-cy="metricsPageHeading" jhiTranslate="metrics.title">Application Metrics</span>

    <button class="btn btn-primary float-end" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span jhiTranslate="metrics.refresh.button">Refresh</span>
    </button>
  </h2>

  <h3 jhiTranslate="metrics.jvm.title">JVM Metrics</h3>

  @let metricsRef = metrics();
  @if (metricsRef && !updatingMetrics()) {
    <div class="row gap-3">
      <jhi-jvm-memory class="col-md-4 bg-white rounded-4" [updating]="updatingMetrics()" [jvmMemoryMetrics]="metricsRef.jvm" />

      <jhi-jvm-threads class="col-md-3 bg-white rounded-4" [threads]="threads()" />

      <jhi-metrics-system class="col-md-4 bg-white rounded-4" [updating]="updatingMetrics()" [systemMetrics]="metricsRef.processMetrics" />
    </div>
  }

  @if (metricsRef?.garbageCollector; as metricsRefGarbageCollector) {
    <jhi-metrics-garbagecollector
      class="bg-white rounded-4"
      [updating]="updatingMetrics()"
      [garbageCollectorMetrics]="metricsRefGarbageCollector"
    />
  }

  @if (updatingMetrics()) {
    <div class="well well-lg rounded-4" jhiTranslate="metrics.updating">Updating...</div>
  }

  @if (metricsRef?.['http.server.requests']; as metricsRefHttpServerRequests) {
    <jhi-metrics-request class="bg-white rounded-4" [updating]="updatingMetrics()" [requestMetrics]="metricsRefHttpServerRequests" />
  }

  @if (metricsRef?.services; as metricsRefServices) {
    <jhi-metrics-endpoints-requests
      class="bg-white rounded-4"
      [updating]="updatingMetrics()"
      [endpointsRequestsMetrics]="metricsRefServices"
    />
  }

  @if (metricsRef?.cache; as metricsRefCache) {
    <jhi-metrics-cache class="bg-white rounded-4" [updating]="updatingMetrics()" [cacheMetrics]="metricsRefCache" />
  }

  @if (metricsRef && metricsKeyExistsAndObjectNotEmpty('databases')) {
    <jhi-metrics-datasource class="bg-white rounded-4" [updating]="updatingMetrics()" [datasourceMetrics]="metricsRef.databases" />
  }
</div>
