<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-document-heading"
        data-cy="DocumentCreateUpdateHeading"
        jhiTranslate="insuranceApp.insuranceDocument.home.createOrEditLabel"
      >
        Create or edit a Document
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="insuranceApp.insuranceDocument.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="insuranceApp.insuranceDocument.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_docPath" jhiTranslate="insuranceApp.insuranceDocument.docPath">Doc Path</label>
          <input type="text" class="form-control" name="docPath" id="field_docPath" data-cy="docPath" formControlName="docPath" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="insuranceApp.insuranceDocument.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'insuranceApp.DocType.null' | translate }}</option>
            @for (docType of docTypeValues; track $index) {
              <option [value]="docType">{{ 'insuranceApp.DocType.' + docType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_requestedDocType" jhiTranslate="insuranceApp.insuranceDocument.requestedDocType"
            >Requested Doc Type</label
          >
          <select
            class="form-control"
            name="requestedDocType"
            formControlName="requestedDocType"
            id="field_requestedDocType"
            data-cy="requestedDocType"
          >
            <option [ngValue]="null">{{ 'insuranceApp.RequestedDocType.null' | translate }}</option>
            @for (requestedDocType of requestedDocTypeValues; track $index) {
              <option [value]="requestedDocType">{{ 'insuranceApp.RequestedDocType.' + requestedDocType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_creationDate" jhiTranslate="insuranceApp.insuranceDocument.creationDate"
            >Creation Date</label
          >
          <div class="input-group">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="text"
              class="form-control"
              name="creationDate"
              ngbDatepicker
              #creationDateDp="ngbDatepicker"
              formControlName="creationDate"
            />
            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contract" jhiTranslate="insuranceApp.insuranceDocument.contract">Contract</label>
          <select
            class="form-control"
            id="field_contract"
            data-cy="contract"
            name="contract"
            formControlName="contract"
            [compareWith]="compareContract"
          >
            <option [ngValue]="null"></option>
            @for (contractOption of contractsSharedCollection; track $index) {
              <option [ngValue]="contractOption">{{ contractOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
